form{
    text-align: center;
    margin-top: 6vh;
}

button{
    cursor:pointer;
}

input[type=url]{
    padding: 5px;
    font-size: 15px;
}
button[type=submit]{
    margin-left: -1px;
    border-radius: 0px;
    background: rgb(99, 0, 0);
    border: none;
    color: rgb(221, 238, 224);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 6px;
    font-weight: 610;
}

.input-url {
    width: 85vw;
    margin: auto;
    margin-top: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.error{
    font-style: italic;
    color: red;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.detail-compress:nth-child(1),
.detail-compress:nth-child(3) {
    margin: auto;
}

.detail-compress:nth-child(2) {
    margin-top: 56px;
}

.detail-compress>h5,
.before-compress,
.after-compress {
    text-align: center;
    font-size: calc(11px + 2vmin);
}

.before-compress,
.after-compress {
    font-weight: bold;
}

#percent{
    min-width: 162px;
    max-width: 262px;
}

.download{
    font-size: calc(10px + 1vmax);
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.again{
    margin-top: 13%;
    color: black;
    text-align: right;
}

@media (max-width:576px) {

    .before-compress,
    .after-compress{
        margin-top: 4px;
    }
    
}

@media (min-width:576px) and (max-width:991px) {

    .input-url button{
        height: 42px;
        padding: 6px;
    }
    
    input[type=url] {
        padding: 10px;
        width: 50vw;
        font-size: 15px;
    }

    .detail-compress:nth-child(2){
        width: 26%;
    }
}

@media (min-width: 992px) {

    input[type=url]{
        height: 46px;
        width: 45vw;
        font-size: 23px;
    }

    .input-url button{
        padding: 12px;
        font-size: 16px;
    }

    main,
    .details {
        margin-top: 0;
    }

    form {
        margin-top: calc(20vh + 1rem);
    }
}